################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ElectromagneticFieldSimulation/ElectromagneticFieldSimulation.vcxproj.user
/ElectromagneticFieldSimulation/ElectromagneticFieldSimulation.vcxproj.filters
/ElectromagneticFieldSimulation/.vs/ElectromagneticFieldSimulation/v16
/.vs
